@media only screen and (max-width: 600px) {
    #chat-box {
    }

    .chat-line .source_icon img {
        margin: 4px 4px 4px 4px;
        width: 24px;
    }


    .chat-line {
        font-size: 40px;
        line-height:48px;
    }

    .chat-line .message {
        line-height:48px;
    }
    
    .chat-line .author{
        line-height:48px;
    }
}

@media only screen and (min-width: 600px) {
    #chat-box {
        font-size: 24px;
    }

    .chat-line {
        font-size: 24px;
        line-height:27px;
    }

    .chat-line .message {
        line-height:27px;
    }
    
    .chat-line .author{
        line-height:27px;
    }
} 


body {
    overflow: scroll;
    margin: 5px;
}

#chat-box {
    background-color: transparent;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    position: absolute;
    overflow: scroll;
    color: #D3D3D3;
    border-radius: 4px;
    width: calc(100% - 10px);
}

.chat-line {
    margin-left: 3px;
    margin-right: 0;
    padding-top: 2px;
    padding-bottom: 3px;
    background-color:rgba(127,127,127,0.00);
}

.chat-line .message {
    word-wrap: break-word;
    color:#222;
    font-weight:700;
    /* text-shadow:0 0 1px #666,1px 1px 0 #000; */
}

.chat-line .author{
    /* text-transform:capitalize; */
    color:#000;
    font-weight:700;
    /* text-shadow:0 0 1px #666,1px 1px 0 #000; */
    display: inline-block;
}

.chat-line .colon {
    display: inline-block;
}

.chat-line .source_icon {
    margin-right: 3px;
    vertical-align: middle;
}
